{% extends "app/base.html" %} {% load static %} {% block main-content %}
<head>
  <script
    src="https://kit.fontawesome.com/6cf5de7db4.js"
    crossorigin="anonymous"
  ></script>
  <link rel="stylesheet" href="{%static 'css/about.css'%}" />
  <title>About - PDC2T E-Commerce Website</title>
</head>
<section>
  <div class="intro">
    <img src="{% static "images/about.jpg" %}"/>
    <div class="all-text">
      <h1>Về Chúng Tôi</h1>
      <p>
        "Chào mừng quý khách đến với cửa hàng chúng tôi - điểm đến lý tưởng cho
        những người đam mê công nghệ. Tại đây, chúng tôi tự hào mang đến cho bạn
        những sản phẩm công nghệ hàng đầu từ các thương hiệu nổi tiếng trên thế
        giới. Dù bạn đang tìm kiếm một chiếc điện thoại thông minh mới, một
        laptop mạnh mẽ cho công việc hay một tablet tiện lợi cho giải trí, chúng
        tôi đều có đủ để đáp ứng nhu cầu của bạn. Với đội ngũ nhân viên chuyên
        nghiệp và thân thiện, chúng tôi cam kết mang đến cho bạn trải nghiệm mua
        sắm tuyệt vời nhất. Hãy đến và khám phá ngay hôm nay!"
      </p>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <a href="{% url "cs-bao-mat" %}">
        <div class="service">
          <i class="fa-solid fa-user-shield"></i>
          <h2>Chính Sách Bảo Mật</h2>
          <p>
            Thông tin cá nhân thu thập được sẽ chỉ được sử dụng trong nội bộ
            công ty, không bán, chia sẻ hay trao đổi thông tin cá nhân của khách
            hàng thu thập trên trang web cho một bên thứ ba nào khác.
          </p>
        </div>
      </a>
      <a href="{% url "cs-bao-hanh" %}">
        <div class="service">
          <i class="fa-solid fa-screwdriver-wrench"></i>
          <h2>Chính Sách Bảo Hành</h2>
          <p>
            Tất cả các sản phẩm do shop bán ra đều được bảo hành theo quy định
            của nhà sản xuất/nhà phân phối. Tất cả sản phẩm hư hỏng, sẽ được gửi
            cho nhà sản xuất hoặc đơn vị được nhà sản xuất uỷ quyền để bảo hành
            theo đúng chính sách bảo hành của nhà sản xuất đưa ra.
          </p>
        </div>
      </a>
      <a href="{% url "cs-van-chuyen" %}">
        <div class="service">
          <i class="fa-solid fa-truck-fast"></i>
          <h2>Chính Sách Vận Chuyển</h2>
          <p>
            Cung cấp dịch vụ giao hàng toàn quốc, gửi hàng tận nơi đến địa chỉ
            cung cấp của Quý khách. Thời gian giao hàng dự kiến phụ thuộc vào
            kho và địa chỉ nhận hàng của Quý khách.
          </p>
        </div>
      </a>
    </div>
  </div>
</section>
{% endblock main-content %}
