{% extends "app/base.html" %} {% load static %} {% block main-content %}
<head>
  <!-- For this page -->
  <link rel="stylesheet" href="{% static "css/cart.css" %}"/>
  <link
    rel="stylesheet"
    href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
    integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
    crossorigin="anonymous"
  />
  <title>Cart - PDC2T E-Commerce Website</title>
</head>

<!-- ===============CART============= -->
<section class="section">
  <div class="container">
    <div class="cart_container">
      <div class="cart_items_container">
        <div class="cart_heading">
          <div class="header_text">Cart</div>
          <a class="remove_text" onclick="removeCart()"> Clear cart </a>
        </div>
        <div class="cart_sub_heading">
          <div>Product</div>
          <div>Quantity</div>
          <div>Price</div>
          <div>
            <!-- Blank for removing check -->
          </div>
        </div>
      {% for item, product in cart_items %}
      <div class="cart_item" id="{{ item.cartItem_id }}">
          {% with product.image_set.first as first_image %}
          <a href="{% url 'productDetail' proName=product.proName %}">
                <img class="cart_item_img"
                  src="{{ first_image.image_url }}"
                  alt=""
                  class="card_img"
                />
          {% endwith %}
          </a>
          <div>{{product.proName}}</div>
          <a class="subadd_button minus_button" style="cursor: pointer" onclick="updateQuantity('{{ item.cartItem_id }}', 'minus')">
              <i class="fas fa-minus"></i>
          </a>
          <div id="quantity_{{ item.cartItem_id }}" class='quantity'>{{item.quantity}} </div>
          <a class="subadd_button plus_button" onclick="updateQuantity('{{ item.cartItem_id }}', 'plus')">
              <i class="fas fa-plus"></i>
          </a>
          <div class= "price">{{product.proPrice|stringformat:"f"|floatformat:0|add:" VNĐ"}}</div>
          <a onclick="removeItem('{{ item.cartItem_id }}')"> X </a>
      </div>
      {% endfor %}
      </div>
      <div class="payment_details_container">
        <div class="header_text">Payment Details</div>
        <div class="sub_payment_details">
          <div>Subtotal</div>
          <div id="subtotal"></div>
        </div>
        {% comment %} <div class="sub_payment_details">
          <div>Ship</div>
          <div>$2.0</div>
        </div>
        <div class="sub_payment_details">
          <div>Tax</div>
          <div>$1.0</div>
        </div> {% endcomment %}
        <div class="breakline">
          <!-- Break Beetween Contents -->
        </div>
        <div class="main_payment_details">
          <div>Total</div>
          <div id="total"></div>
        </div>
        <a href="{% url "checkout" %}" class="checkout_button">
          Continue to checkout
        </a>
      </div>
    </div>
  </div>
</section>

<form id="csrf-form">
  {% csrf_token %}
</form>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static "js/cart.js" %}"></script>
<script>
  var cartUrl = "{% url "cart" %}";
</script>
{% endblock main-content %}
