{% extends "app/base.html" %} {% load static %} {% block main-content %}
<head>
  <script
  src="https://kit.fontawesome.com/6cf5de7db4.js"
  crossorigin="anonymous"
  ></script>
  <link rel="stylesheet" href="{%static 'css/aboutDetail.css'%}" />
  <title>CÁC CHÍNH SÁCH CỦA CHÚNG TÔI</title>
</head>
<body>
<section>
<div class="wrapper flex_align_justify">
   <div class="tc_wrap">
       <div class="tabs_list">
         <ul>
           <li data-tc="tab_item_1" class="active">1. MỤC ĐÍCH VÀ PHẠM VI THU THẬP THÔNG TIN</li>
           <li data-tc="tab_item_2">2. PHẠM VI SỬ DỤNG THÔNG TIN</li>
           <li data-tc="tab_item_3">3. THỜI GIAN LƯU TRỮ THÔNG TIN</li>
           <li data-tc="tab_item_4">4. NHỮNG NGƯỜI CÓ THỂ TIẾP CẬN VỚI THÔNG TIN CÁ NHÂN</li>
           <li data-tc="tab_item_5">5. ĐỊA CHỈ CỦA ĐƠN VỊ THU THẬP VÀ QUẢN LÍ THÔNG TIN CÁ NHÂN</li>
           <li data-tc="tab_item_6">6. PHƯƠNG TIỆN ĐỂ NGƯỜI DÙNG TIẾP CẬN VÀ CHỈNH SỬ THÔNG TIN CÁ NHÂN CỦA MÌNH</li>
           <li data-tc="tab_item_7">7. CƠ CHẾ TIẾP NHẬN GIẢI QUYẾT LIÊN QUAN ĐẾN THÔNG TIN BỊ SỬ DỤNG SAI MỤC ĐÍCH</li>
         </ul>
       </div>
       <div class="tabs_content">
          <div class="tab_head">
            <h2>Chính sách bảo mật thông tin khách hàng</h2>
          </div>
          <div class="tab_body">
            <div class="tab_item tab_item_1">
                <h3>1. MỤC ĐÍCH VÀ PHẠM VI THU THẬP THÔNG TIN</h3>
                <p>GEARVN không bán, chia sẻ hay trao đổi thông tin cá nhân của khách hàng thu thập trên trang web cho một bên thứ ba nào khác.</p>
              <p>Thông tin cá nhân thu thập được sẽ chỉ được sử dụng trong nội bộ công ty. Khi bạn liên hệ đăng ký dịch vụ, thông tin cá nhân mà GEARVN thu thập bao gồm: Họ và tên, Địa chỉ, Điện thoại, Email</p>
              <p>Ngoài thông tin cá nhân là các thông tin về dịch vụ: Tên sản phẩm, Số lượng, Thời gian giao nhận sản phẩm</p>
            </div>
            <div class="tab_item tab_item_2" style="display: none;">
                <h3>2. PHẠM VI SỬ DỤNG THÔNG TIN</h3>
              <p>Thông tin cá nhân thu thập được sẽ chỉ được GEARVN sử dụng trong nội bộ công ty và cho một hoặc tất cả các mục đích sau đây:</p>
              <p>• Hỗ trợ khách hàng</p>
              <p>• Cung cấp thông tin liên quan đến dịch vụ</p>
              <p>• Xử lý đơn đặt hàng và cung cấp dịch vụ và thông tin qua trang web của chúng tôi theo yêu cầu của bạn</p>
              <p>Chúng tôi có thể sẽ gửi thông tin sản phẩm, dịch vụ mới, thông tin về các sự kiện sắp tới hoặc thông tin tuyển dụng nếu quý khách đăng kí nhận email thông báo.</p>
              <p>Trong trường hợp có yêu cầu của pháp luật, Công ty có trách nhiệm hợp tác cung cấp thông tin cá nhân khách hàng khi có yêu cầu từ cơ quan tư pháp bao gồm:Viện kiểm soát, tòa án, cơ quan công an điều tra liên quan đến hành vi vi phạm pháp luật nào đó của khách hàng. Ngoài ra không ai có quyền xâm phạm vào thông tin cá nhân của khách hàng.</p>
            </div>
            <div class="tab_item tab_item_3"  style="display: none;">
                <h3>3. THỜI GIAN LƯU TRỮ THÔNG TIN</h3>
                <p>Đối với thông tin cá nhân, GEARVN chỉ xóa đi dữ liệu này nếu khách hàng có yêu cầu, khách hàng yêu cầu gửi mail về cskh@gearvn.com.</p>
            </div>
            <div class="tab_item tab_item_4"  style="display: none;">
                <h3>4. NHỮNG NGƯỜI CÓ THỂ TIẾP CẬN VỚI THÔNG TIN CÁ NHÂN</h3>
              <p>Đối tượng được tiếp cận với thông tin cá nhân của khách hàng thuộc một trong những trường hợp sau:</p>
              <p>• Công Ty TNHH Thương Mại GEARVN</p>
              <p>• Các đối tác có ký hợp đồng thực hiện 1 phần dịch vụ do Công Ty TNHH Thương Mại GEARVN. Các đối tác này sẽ nhận được những thông tin theo thỏa thuận hợp đồng (có thể một phần hoặc toàn bộ thông tin tùy theo điều khoản hợp đồng) để tiến hành hỗ trợ người dùng sử dụng dịch vụ do Công Ty cung cấp.</p>
            </div>
            <div class="tab_item tab_item_5"  style="display: none;">
                <h3>5. ĐỊA CHỈ CỦA ĐƠN VỊ THU THẬP VÀ QUẢN LÍ THÔNG TIN CÁ NHÂN</h3>
              <p>Công Ty TNHH Thương Mại GEARVN</p>
              <p>• Địa chỉ: 82 Hoàng Hoa Thám,Phường 12,Quận Tân Bình, TP Hồ Chí Minh</p>
              <p>• Điện thoại: 1800 6175</p>
              <p>• Website: www.gearvn.com</p>
              <p>• Email: cskh@gearvn.com</p>
            </div>
            <div class="tab_item tab_item_6"  style="display: none;">
              <h3>6. PHƯƠNG TIỆN ĐỂ NGƯỜI DÙNG TIẾP CẬN VÀ CHỈNH SỬ THÔNG TIN CÁ NHÂN CỦA MÌNH</h3>
            <p>GEARVN không thu thập thông tin khách hàng qua trang web, thông tin cá nhân khách hàng được thực hiện thu thập qua email liên hệ đặt mua sản phẩm, dịch vụ gửi về hộp mail của chúng tôi: cskh@gearvn.com hoặc số điện thoại liên hệ đặt mua sản phẩm gọi về Hotline 1800 6975.</p>
            <p>Bạn có thể liên hệ địa chỉ email cùng số điện thoại trên để yêu cầu GEARVN chỉnh sửa dữ liệu cá nhân của mình.</p>
          </div>
          <div class="tab_item tab_item_7"  style="display: none;">
            <h3>7. CƠ CHẾ TIẾP NHẬN GIẢI QUYẾT LIÊN QUAN ĐẾN THÔNG TIN BỊ SỬ DỤNG SAI MỤC ĐÍCH</h3>
          <p>Tại GEARVN, việc bảo vệ thông tin cá nhân của bạn là rất quan trọng, bạn được đảm bảo rằng thông tin cung cấp cho chúng tôi sẽ được bảo mật, GEARVN cam kết không chia sẻ, bán hoặc cho thuê thông tin cá nhân của bạn cho bất kỳ người nào khác.</p>
          <p>GEARVN cam kết chỉ sử dụng các thông tin của bạn vào các trường hợp sau:</p>
          <p>• Nâng cao chất lượng dịch vụ dành cho khách hàng</p>
          <p>• Giải quyết các tranh chấp, khiếu nại Khi cơ quan pháp luật có yêu cầu</p>
          <p>GEARVN hiểu rằng quyền lợi của bạn trong việc bảo vệ thông tin cá nhân cũng chính là trách nhiệm của chúng tôi nên trong bất kỳ trường hợp có thắc mắc, góp ý nào liên quan đến chính sách bảo mật của GEARVN, và liên quan đến việc thông tin cá nhân bị sử dụng sai mục đích hoặc phạm vi đã thông báo vui lòng liên hệ qua số Hotline 1800 6975 hoặc email: cskh@gearvn.com.</p>
   </div>
</div>
<script src="{% static "js/aboutDetail.js" %}"></script>

</body>
</section>
{% endblock main-content %}