{% extends "app/base.html" %} {% load static %} {% block main-content %}

<head>
  <link rel="stylesheet" href="{%static 'css/home.css'%}" />
  <title>Home - PDC2T E-Commerce Website</title>
</head>
<!-- ===============HEADER============= -->
<header class="header">
  <div class="container header_container">
    <div class="header_filter">
      <a
        href="{% url 'product' cateName='DienThoai' %}"
        class="header_filter_link"
      >
        <i class="uil uil-mobile-android"></i>Điện thoại
      </a>
      <a
        href="{% url 'product' cateName='Tablet' %}"
        class="header_filter_link"
      >
        <i class="uil uil-tablet"></i>Tablet
      </a>
      <a
        href="{% url 'product' cateName='Laptop' %}"
        class="header_filter_link"
      >
        <i class="uil uil-laptop"></i>Laptop
      </a>
      <a
        href="{% url 'product' cateName='Monitor' %}"
        class="header_filter_link"
      >
        <i class="uil uil-desktop"></i>PC, Màn hình
      </a>
      <a
        href="{% url 'product' cateName='HeadPhone' %}"
        class="header_filter_link"
      >
        <i class="uil uil-headphones-alt"></i>Tai nghe
      </a>
      <a href="{% url 'product' cateName='Mouse' %}" class="header_filter_link">
        <i class="uil uil-mouse"></i>Chuột máy tính
      </a>
      <a href="{% url 'product' cateName='Watch' %}" class="header_filter_link">
        <i class="uil uil-watch"></i>Đồng hồ
      </a>
      <a
        href="{% url 'product' cateName='Accessory' %}"
        class="header_filter_link"
      >
        <i class="uil uil-plug"></i>Phụ kiện
      </a>
    </div>
    <div class="slideshow-container">
      <div class="mySlides fade">
        <div class="numbertext">1 / 5</div>
        <img
          src="{% static 'images/GALAXY-AI-WEEK-homepage.png' %}"
          style="width: 100%"
        />
      </div>

      <div class="mySlides fade">
        <div class="numbertext">2 / 5</div>
        <img
          src="{% static 'images/robot-hut-bui-roborock-s8.png' %}"
          style="width: 100%"
        />
      </div>
      <div class="mySlides fade">
        <div class="numbertext">3 / 5</div>
        <img
          src="{% static 'images/Sliding air 13mb.png' %}"
          style="width: 100%"
        />
      </div>
      <div class="mySlides fade">
        <div class="numbertext">4 / 5</div>
        <img
          src="{% static 'images/sliding_ip15promax-hs.png' %}"
          style="width: 100%"
        />
      </div>
      <div class="mySlides fade">
        <div class="numbertext">5 / 5</div>
        <img
          src="{% static 'images/soundpeats_watch_4_sliding.png' %}"
          style="width: 100%"
        />
      </div>
      <br />
      <div style="text-align: center">
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
      </div>
    </div>
  </div>
</header>

{% for category in categories %}
<section class="section">
  <div class="container">
    <div class="section_category">
      <span class="section_reactable"></span>
      <p class="section_category_p">{{ category.cateName }}</p>
    </div>
    <h3 class="section_title">New {{ category.cateName }}</h3>

    <!-- Swiper -->
    <div class="swiper mySwiper">
      <div class="swiper-wrapper">
        {% for product in category.product_set.all %}
        <div class="swiper-slide">
          <div class="card">
            <div class="card_top">
              <a href="{% url 'productDetail' proName=product.proName %}">
                {% with product.image_set.first as first_image %}
                <img
                  src="{{ first_image.image_url }}"
                  alt=""
                  class="card_img"
                />
                {% endwith %}
              </a>
              <div class="card_top_icons">
                <a href="#"><i class="uil uil-heart card_top_icon"></i></a>
                <a href="{% url 'productDetail' proName=product.proName %}"
                  ><i class="uil uil-eye card_top_icon"></i
                ></a>
              </div>
            </div>
            <div class="card_body">
              <h3 class="card_title">{{ product.proName }}</h3>
              <p class="card_price">
                Giá: {{product.proPrice|stringformat:"f"|floatformat:0|add:"₫"}}
              </p>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      <div class="swiper-pagination"></div>
    </div>

    <div class="container_btn">
      <a
        href="{% url 'product' cateName=category.cateName %}"
        class="container_btn_a"
        >VIEW ALL {{ category.cateName|upper }}</a
      >
    </div>
  </div>
</section>
{% endfor %}

<section class="section">
  <div class="container">
    <div class="section_category">
      <span class="section_reactable"></span>
      <p class="section_category_p">Brands</p>
    </div>
    <h3 class="section_title">Browse By Brand</h3>
    <div class="brands">
      {% for brand in brands %}
      <div class="brand">
        <a href="{% url 'brand_product' braName=brand.braName %}">
          <img src="media/{{ brand.braImage }}" alt="" class="brand_icon" />
          <p class="brand_name">{{ brand.braName }}</p>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

<hr />

<div class="section">
  <div class="container service_container">
    <div class="service">
      <img src="{% static "images/service-1.png" %}" alt="" class="service_img"
      />
      <h3 class="service_title">FAST AND FREE DELIVERY</h3>
      <p class="service_p">Lorem ipsum dolor sit amet consectetur</p>
    </div>
    <div class="service">
      <img src="{% static "images/service-2.png" %}" alt="" class="service_img"
      />
      <h3 class="service_title">24/7 SUPPORT</h3>
      <p class="service_p">Friendly 24/7 customer support</p>
    </div>
    <div class="service">
      <img src="{% static "images/service-3.png" %}" alt="" class="service_img"
      />
      <h3 class="service_title">MONEY BACK GUARANTY</h3>
      <p class="service_p">we return money within 30 days</p>
    </div>
  </div>
</div>
<script>
  function encodeProductName(productName) {
    return encodeURIComponent(productName);
  }
</script>
{% endblock main-content %}
